body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    background-color: white;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
}

img {
    width: 250px;
    display: block;
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
